.cache/
build*/
src/wasi-sdk-*
src/barretenberg/proof_system/proving_key/fixtures
src/barretenberg/rollup/proofs/*/fixtures
srs_db/*/*/transcript*
CMakeUserPresets.json
.vscode/settings.json
acir_tests
# we may download go in scripts/collect_heap_information.sh
go*.tar.gz
barretenberg_modules.dot
barretenberg_modules.png