/target
.DS_Store
examples/**/target/
examples/9
node_modules
pkg/
.idea

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Noir.js
tooling/noir_js/lib

# Nargo output
*.proof
*.acir
*.acir.sha256
*.tr
*.pk
*.vk
**/Verifier.toml
**/contract
**/target
!test_programs/acir_artifacts/*/target
!test_programs/acir_artifacts/*/target/witness.gz
!compiler/wasm/noir-script/target

gates_report.json
gates_report_brillig.json
gates_report_brillig_execution.json
compilation_report.json

# Github Actions scratch space
# This gives a location to download artifacts into the repository in CI without making git dirty.
libbarretenberg-wasm32

# Wasm build atifacts
compiler/wasm/nodejs
compiler/wasm/web
tooling/noirc_abi_wasm/nodejs
tooling/noirc_abi_wasm/web
tooling/noir_js/lib

# docs autogen build
/docs/docs/noir_js/reference/
