[workspace]

members = [
    "crates/acvm_backend_barretenberg",
    "crates/noirc_evaluator",
    "crates/noirc_frontend",
    "crates/noirc_errors",
    "crates/noirc_driver",
    "crates/noirc_printable_type",
    "crates/nargo",
    "crates/nargo_cli",
    "crates/nargo_toml",
    "crates/fm",
    "crates/arena",
    "crates/noirc_abi",
    "crates/iter-extended",
    "crates/wasm",
]
default-members = ["crates/nargo_cli"]
resolver = "2"

[workspace.package]
# x-release-please-start-version
version = "0.10.5"
# x-release-please-end
authors = ["The Noir Team <team@noir-lang.org>"]
edition = "2021"
rust-version = "1.66"

[workspace.dependencies]
acvm = "0.25.0"
arena = { path = "crates/arena" }
fm = { path = "crates/fm" }
iter-extended = { path = "crates/iter-extended" }
nargo = { path = "crates/nargo" }
nargo_cli = { path = "crates/nargo_cli" }
nargo_toml = { path = "crates/nargo_toml" }
noir_lsp = { path = "crates/lsp" }
noirc_abi = { path = "crates/noirc_abi" }
noirc_driver = { path = "crates/noirc_driver" }
noirc_errors = { path = "crates/noirc_errors" }
noirc_evaluator = { path = "crates/noirc_evaluator" }
noirc_frontend = { path = "crates/noirc_frontend" }
noirc_printable_type = { path = "crates/noirc_printable_type" }
noir_wasm = { path = "crates/wasm" }
cfg-if = "1.0.0"
clap = { version = "4.3.19", features = ["derive"] }
codespan = { version = "0.11.1", features = ["serialization"] }
codespan-lsp = "0.11.1"
codespan-reporting = "0.11.1"
chumsky = { git = "https://github.com/jfecher/chumsky", rev = "ad9d312" }
dirs = "4"
lsp-types = "0.94"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0"
smol_str = "0.1.17"
thiserror = "1.0.21"
toml = "0.7.2"
tower = "0.4"
url = "2.2.0"
wasm-bindgen = { version = "=0.2.86", features = ["serde-serialize"] }
wasm-bindgen-test = "0.3.33"
base64 = "0.21.2"

[patch.crates-io]
acvm = { git = "https://github.com/noir-lang/acvm" }
