.main {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: fixed;
    cursor: pointer;
    top: 35px;
    left: 30px;
    height: 35px;
}

.privateBackground {
    transform: rotate(-20deg);
    width: 150vw;
    height: 150vh;
    font-weight: 500;
    opacity: 0.3;
    font-size: 14px;
    pointer-events: none;
    position: absolute;
    font-size: 14px;
    z-index: 0;
}