/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #514167;
  --ifm-color-primary-dark: #493a5d;
  --ifm-color-primary-darker: #453758;
  --ifm-color-primary-darkest: #392d48;
  --ifm-color-primary-light: #594871;
  --ifm-color-primary-lighter: #5d4b76;
  --ifm-color-primary-lightest: #695486;
  --search-local-highlight-color: #2f1f49;
  --ifm-menu-color-background-active: #f6f8fa;
  --ifm-code-font-size: 95%;
  --ifm-breadcrumb-color-active: #F6FBFC;
  --ifm-breadcrumb-item-background-active: #2f1f49;  
  --ifm-heading-color: #2f1f49;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-link-color: #B68BE4;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fbc0b4;
  --ifm-color-primary-dark: #f99e8b;
  --ifm-color-primary-darker: #f88c77;
  --ifm-color-primary-darkest: #f45939;
  --ifm-color-primary-light: #fde2dd;
  --ifm-color-primary-lighter: #fef4f1;
  --ifm-color-primary-lightest: #ffffff;

  --ifm-heading-color: #F6FBFC;
  --ifm-menu-color-background-active: #282a36;
  --ifm-breadcrumb-color-active: #2f1f49;
  --ifm-breadcrumb-item-background-active: #f5bda9;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-link-color: var(--ifm-color-primary);
}

html[data-theme='dark'] {
  --search-local-highlight-color: #f5bda9;
  --search-local-muted-color: #F6FBFC;
  --search-local-hit-active-color: #1b1b1d;
  --search-local-hit-color: #F6FBFC;
}

[data-theme='dark'] .footer {
  --ifm-footer-background-color: #282a36
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--ifm-color-secondary);
  --ifm-footer-title-color: var(--ifm-color-white);
}

[data-theme='light'] .navbar {
  background-color: #f6fbfc;
}

[data-theme='light'] .footer {
  --ifm-footer-background-color: #f6fbfc;
  --ifm-footer-color: #2f1f49;
  --ifm-footer-link-color: #2f1f49;
  --ifm-footer-title-color: #2f1f49;
}

[data-theme='light'] #__docusaurus {
  background-color: #F6FBFC;
}
[data-theme='dark'] #__docusaurus {
  background-color: #161717;
}

.katex-html {
  display: none;
}

.homepage_layout {
  max-width: 800px;
  margin: 0 auto;
}

.homepage_h1 {
  display: block;
  margin: 40px auto;
  text-align: center;
}

.homepage_h2 {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  width: 100%;
}

.homepage_p {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.homepage_cta_header_container {
  display: flex;
  justify-content: center;
}

.homepage_cta_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  border: none;
  flex-wrap: wrap;
  margin-right: 20px;
  width: 100%;
}

[data-theme='dark'] .homepage_cta_container a button {
  color: var(--ifm-font-color-base-inverse);
}

.homepage_cta_container a {
  flex: 1 1;
  display: flex;
  color: var(--ifm-font-color-base-inverse);
}

@media screen and (min-width: 584px) {
  .homepage_cta_container a:first-child {
    margin-right: 20px;
  } 
  .homepage_cta_container:last-child {
    margin-right: 0;
  } 
}


.homepage_cta {
  display: flex;
  margin: 20px auto;
  text-align: center;
  flex: 1 auto;
  justify-content: center;
}


.homepage_cta_lj_container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 584px) {
  .homepage_cta_container {
    margin: 20px auto;
    padding: 0.5rem 2rem;
  }

  .homepage_cta_lj_container {
    flex-wrap: wrap;
  }

  .homepage_cta_lj_container .homepage_cta_container {
    border: var(--ifm-global-border-width) solid #BEC2C3;
  } 

  .homepage_cta_lj_container .homepage_cta_container a {
    width: 100%;
    flex: auto;
  }
  
}

.homepage_cta_lj_container .homepage_cta_container a button {
  background-color: var(--ifm-color-primary-lightest);
  border-color: var(--ifm-color-primary-lightest);
}

[data-theme='dark'] .homepage_cta_lj_container .homepage_cta_container a button {
  background-color: var(--ifm-color-primary-light);
  border-color: var(--ifm-color-primary-light);
}

.homepage_cta_lj_container .homepage_cta_container a:last-of-type button {
  background-color: var(--ifm-color-secondary-dark);
  border-color: var(--ifm-color-secondary-dark);
}

.cards__container {
  margin: 0 auto;
}


.card__body {
  display: flex;
  flex-wrap: wrap;
}

.card__body.align_right {
  justify-content: end;
  text-align: right;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}
