.input {
    border: none;
    outline-width: 0;
    outline-color: rgba(0, 0, 0, 0);
    padding: 2px 20px 0 20px;
    width: 100%;
    height: 45px;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    border-radius: 10px;
    text-align: left;
    text-overflow: ellipsis;
    transition: box-shadow .2s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
    background-color: white;
    -webkit-appearance: none;


    &:disabled {
        color: #4a4a4a;
        background-color: rgba(239, 239, 239, 0.3);
        background: radial-gradient(rgba(239, 239, 239, 0.3), rgba(239, 239, 239, 0.3));
        -webkit-text-fill-color: #4a4a4a;
        cursor: not-allowed;
    }
}

.label {
    font-weight: 450;
    font-size: 18px;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
    justify-content: space-between;
}

.inputWrapper {
    width: 100%;
    display: flex;
    gap: 15px;
}

.field {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px;
    width: 450px;
    gap: 30px;
}

.actionButton {
    width: 100%;
    align-self: center;
}