[package]
name = "ssa_fuzzer_fuzz"
version = "0.0.1"
publish = false
edition = "2021"
license.workspace = true

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = { version = "0.4.0", features = ["arbitrary-derive"] }
noirc_evaluator.workspace = true
noirc_driver.workspace = true
acvm.workspace = true
noir_ssa_executor.workspace = true
log.workspace = true
env_logger.workspace = true

[dependencies.noir_ssa_fuzzer]
path = "../"

[[bin]]
name = "fuzz_target"
path = "src/fuzz_target.rs"
test = false
doc = false
bench = false


[[test]]
name = "test_fuzz_target"
path = "src/fuzz_lib/mod.rs"
