.yarn
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

*/data*
**/dest
**/*.tsbuildinfo
**/Dockerfile*
**/node_modules

noir-contracts/src/types
noir-contracts/src/artifacts