.yarn
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

*/data*
**/dest
**/node_modules
**/Dockerfile*
**/*.tsbuildinfo

./accounts/src/artifacts

noir-contracts.js/src
noir-contracts.js/target
