dest
node_modules
.cache
.env
*.log
*.swp
.tsbuildinfo

# Zero install: https://yarnpkg.com/features/zero-installs
.yarn/*
# Exclude cache until we're really sure we're ready.
# !.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions