# To be maintained along with .earthlyinore
**/dest
**/node_modules
**/.cache
.env*
*.log
*.swp
**/.tsbuildinfo
**/tsconfig.tsbuildinfo
**/.eslintcache
**/target
**/.debounce-*
**/.tsc.pid
**/*.result
accounts/src/artifacts
aztec-faucet/data*
aztec-node/data*
aztec-js/src/account_contract/artifacts
aztec/log
circuits.js/fixtures/*.json
docs/dist
end-to-end/addresses.json
end-to-end/log
end-to-end/data
end-to-end/src/web/main.js
end-to-end/src/web/main.js.LICENSE.txt
entry-points/src/artifacts
l1-artifacts/generated
l1-contracts/generated
noir-compiler/target/
noir-compiler/proofs/
noir-compiler/Prover.toml
noir-compiler/Verifier.toml
noir-compiler/noir-protocol-circuits-types/.gitignore wow
noir-compiler/proofs/
noir-compiler/Prover.toml
noir-compiler/Verifier.toml
noir-compiler/src/target
noir-compiler/src/crs
noir-compiler/src/types
noir-protocol-circuits-types/src/types/
protocol-contracts/src/artifacts
scripts/tmp
noir-contracts.js/src
noir-contracts.js/artifacts/
noir-contracts.js/codegenCache.json
types/fixtures/*.json

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
