[package]
name = "noirc_frontend"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
noirc_arena.workspace = true
noirc_errors.workspace = true
noirc_printable_type.workspace = true
fm.workspace = true
iter-extended.workspace = true
thiserror.workspace = true
smol_str.workspace = true
im.workspace = true
serde_json.workspace = true
serde.workspace = true
num-bigint.workspace = true
num-traits.workspace = true
rustc-hash = "2.1.1"
small-ord-set = "0.1.3"
cfg-if.workspace = true
tracing.workspace = true
petgraph.workspace = true
rangemap = "1.4.0"
strum.workspace = true
strum_macros.workspace = true
fxhash.workspace = true
alloy-primitives.workspace = true

[dev-dependencies]
base64.workspace = true
function_name = "0.3.0"
proptest.workspace = true
proptest-derive.workspace = true
insta.workspace = true

[features]
bn254 = []
bls12_381 = []
test_utils = []
nextest = []
