Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120

# Whitespace
IndentWidth: 4
UseTab: Never
#LineEnding: LF
MaxEmptyLinesToKeep: 2

# Auto-insertions
#InsertNewlineAtEOF: true
#InsertTrailingCommas: true
#InsertBraces: true

# Alignment
#ReferenceAlignment: Left
PointerAlignment: Left
#QualifierAlignment: Left # only in clang-format 14+

# Misc spacing/linebreaks
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakTemplateDeclarations: No
PenaltyReturnTypeOnItsOwnLine: 1000000
BreakConstructorInitializers: BeforeComma

# Includes
SortIncludes: true # Consider CaseSensitive in clang-format 13+
IncludeBlocks: Regroup
IncludeCategories:
  # 1. Special headers
  - Regex:           '"\(index\.hpp\)|\(init\.hpp\)"'
    Priority:     1
  # 2. Headers in "" with no '/' (current dir).
  - Regex:           '"([A-Za-z0-9.\Q-_\E])+"'
    Priority:     2
    SortPriority: 2
  # 2. Headers in "" that start with '../'.
  - Regex:           '"\.\./([A-Za-z0-9.\Q-_\E])+"'
    Priority:     2
    SortPriority: 4 # same priority/group as 2, but sorted to bottom.
  # 5. Aztec3 headers in "".
  - Regex:           '["<]aztec3/([A-Za-z0-9.\Q/-_\E])+[">]'
    Priority:     5
  # 6. Barretenberg headers in ""
  - Regex:           '["<]barretenberg/.*[">]'
    Priority:     6
  # 2. All other headers in "".
  # Note: Must be below aztec3/barretenberg groups or it captures them too.
  - Regex:           '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority:     2
    SortPriority: 3 # same priority/group as 2, but sorted to middle.
  # 6. Headers in <> with extension.
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+\.[A-Za-z0-9.\Q/-_\E]>'
    Priority:     7
  # 7. Headers in <> from specific external libraries.
  - Regex:           '<(gtest|placeHolderForOthers)>'
    Priority:     8
  # 8. Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+>'
    Priority:     9

# Namespaces and using
FixNamespaceComments: true
NamespaceIndentation: None
SortUsingDeclarations: true # LexicographicNumeric

# Bin packing
BinPackArguments: false
BinPackParameters: false

# Braces
Cpp11BracedListStyle: false
#BreakBeforeBraces: Allman
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
