build
build-wasm
docker*
.*
src/wasi-sdk*
barretenberg/cpp/build*
barretenberg/cpp/docker*
barretenberg/cpp/scripts
barretenberg/cpp/.*
barretenberg/cpp/src/wasi-sdk*
barretenberg/cpp/src/aztec/rollup/proofs/root_*/fixtures/account
barretenberg/cpp/src/aztec/rollup/proofs/root_*/fixtures/join_split
barretenberg/cpp/src/aztec/rollup/proofs/root_*/fixtures/**/proving_key
barretenberg/cpp/srs_db/*
!barretenberg/cpp/srs_db/download_ignition.sh