[package]
name = "nargo_cli"
description = "Noir's package manager"
default-run = "nargo"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# Rename binary from `nargo_cli` to `nargo`
[[bin]]
name = "nargo"
path = "src/main.rs"

[build-dependencies]
build-data.workspace = true
toml.workspace = true

[dependencies]
clap.workspace = true
fm.workspace = true
fxhash.workspace = true
iter-extended.workspace = true
# This is the only crate that really needs the RPC feature,
# but enabling it here implicitly enables it for the whole
# workspace. A crate could opt out using `path` dependency,
# but it's only `noir_wasm` which couldn't compile with it,
# and that is a different target, and for that the feature
# aren't unified with this one.
nargo = { workspace = true, features = ["rpc"] }
nargo_fmt.workspace = true
nargo_toml.workspace = true
noir_lsp.workspace = true
noir_debugger.workspace = true
noirc_driver = { workspace = true, features = ["bn254"] }
noirc_frontend = { workspace = true, features = ["bn254"] }
noirc_abi.workspace = true
noirc_errors.workspace = true
noirc_artifacts.workspace = true
acvm = { workspace = true, features = ["bn254"] }
bn254_blackbox_solver.workspace = true
toml.workspace = true
serde.workspace = true
serde_json.workspace = true
prettytable-rs = "0.10"
rayon.workspace = true
thiserror.workspace = true
tower.workspace = true
async-lsp = { workspace = true, features = [
    "client-monitor",
    "stdio",
    "tracing",
    "tokio",
] }
const_format.workspace = true
similar-asserts.workspace = true
termcolor = "1.1.2"
color-eyre.workspace = true
tokio = { version = "1.0", features = ["io-std", "rt"] }
dap.workspace = true
clap-markdown = { git = "https://github.com/noir-lang/clap-markdown", rev = "450d759532c88f0dba70891ceecdbc9ff8f25d2b", optional = true }

notify = "6.1.1"
notify-debouncer-full = "0.3.1"
termion = "3.0.0"

# Logs
tracing.workspace = true
tracing-subscriber.workspace = true
tracing-appender = "0.2.3"
clap_complete = "4.5.36"

[target.'cfg(not(unix))'.dependencies]
tokio-util = { version = "0.7.8", features = ["compat"] }

[dev-dependencies]
ark-bn254.workspace = true
tempfile.workspace = true
dirs.workspace = true
assert_cmd = "2.0.8"
assert_fs = "1.0.10"
predicates = "2.1.5"
file-lock = "2.1.11"
fm.workspace = true
criterion.workspace = true
pprof.workspace = true
paste = "1.0.14"
proptest.workspace = true
sha2.workspace = true
sha3.workspace = true
iai = "0.1.1"
test-case.workspace = true
lazy_static.workspace = true
light-poseidon = "0.2.0"

ark-bn254-v04 = { package = "ark-bn254", version = "^0.4.0", default-features = false, features = [
    "curve",
] }
ark-ff-v04 = {  package = "ark-ff", version = "^0.4.0", default-features = false }

[[bench]]
name = "criterion"
harness = false

[[bench]]
name = "iai"
harness = false

[features]
codegen-docs = ["dep:clap-markdown"]
