[package]
name = "noir_wasm"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[lib]
crate-type = ["cdylib"]

[dependencies]
acvm = { workspace = true, features = ["bn254"] }
fm.workspace = true
nargo.workspace = true
noirc_driver.workspace = true
noirc_frontend = { workspace = true, features = ["bn254"] }
noirc_errors.workspace = true
noirc_evaluator.workspace = true
wasm-bindgen.workspace = true
serde.workspace = true
js-sys.workspace = true
console_error_panic_hook.workspace = true
gloo-utils.workspace = true
tracing-subscriber.workspace = true
tracing-web.workspace = true

# This is an unused dependency, we are adding it
# so that we can enable the js feature in getrandom.
getrandom = { workspace = true, features = ["js"] }

# This is an unused dependency, we are adding it
# so that we can enable the debug-embed feature in rust-embed.
# This is needed for rust-embed to include the stdlib sources in dev mode
# while simultaneously allowing us to deactivate wasm-opt for speed.
rust-embed = { workspace = true, features = ["debug-embed"] }

[build-dependencies]
build-data.workspace = true