build*
docker*
.*
src/wasi-sdk*
src/barretenberg/rollup/proofs/root_*/fixtures/account
src/barretenberg/rollup/proofs/root_*/fixtures/join_split
src/barretenberg/rollup/proofs/root_*/fixtures/**/proving_key
srs_db/ignition/transcript*
