:root {
    color-scheme: light dark;

    --main-color: light-dark(black, #ddd);
    --main-background-color: light-dark(white, #353535);
    --code-color: light-dark(#f5f5f5, #2a2a2a);
    --link-color: light-dark(#3873ad, #fdbf35);
    --header-border-color: light-dark(#ddd, #d2d2d2);
    --crate-color: light-dark(var(--link-color), #d2991d);
    --module-color: var(--crate-color);
    --struct-color: light-dark(#ad378a, #2dbfb8);
    --trait-color: light-dark(#6e4fc9, #b78cf2);
    --type-color: var(--struct-color);
    --global-color: var(--crate-color);
    --fn-color: light-dark(#ad7c37, #2bab63);
    --primitive-color: var(--struct-color);
    --sidebar-color: light-dark(#f5f5f5, #505050);
    --comment-color: light-dark(#8e908c, #8d8d8b);
    --target-color: light-dark(#fdffd3, #494a3d);
    --target-highlight-color: light-dark(#9b7b14, #ad7c37);
    --deprecated-color: light-dark(#fff5d6, #314559);
    --kw-color: light-dark(#8959a8, #ab8ac1);
    --bool-var-color: light-dark(#c82829, #ee6868);
    --number-color: light-dark(#718c00, #83a300);
    --string-color: light-dark(#718c00, #83a300);
    --doccomment-color: light-dark(#4d4d4c, #8ca375);
    --interpolation-color: light-dark(#119850, #bcca7d);

    --sidebar-toggle-height: 82px;
}

body {
    font-family: "Fira Sans", Arial, NanumBarunGothic, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: var(--main-color);
    background-color: var(--main-background-color);
}

#main-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
}

main {
    padding: 28px 15px 40px 45px;
    max-width: 960px;
    position: relative;
    flex-grow: 1;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

pre {
    padding: 14px;
    background-color: var(--code-color);
}

code {
    font-family: "Source Code Pro",monospace;
    text-wrap: auto;
    white-space: pre-wrap;
}

:target {
    animation-name: highlight-target;
    animation-duration: 0.5s;
    background-color: var(--target-color);
}

@keyframes highlight-target {
    0% { background-color: var(--main-background-color); }
    10% { background-color: var(--main-background-color); }
    12% { background-color: var(--target-highlight-color); }
    100% { background-color: var(--target-color); }
}

.code-header {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1, h2 {
    line-height: 1.25;
    padding-top: 3px;
    padding-bottom: 9px;
}

h1, h2, h3, h4 {
    margin: 25px 0 15px 0;
}

h2 {
    font-size: 1.375em;
    border-bottom: 1px solid var(--header-border-color);
}

ul.item-list, ul.sidebar-list {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.item-list {
    display: table;
}

.item-list>li {
    display: table-row;
    width: 100%;
    line-height: 2em;
}

.item-list>li>.item-name {
    width: 33%;
    display: table-cell;
    padding-right: 1.25em;
}

.item-list>li>.item-description {
    display: table-cell;
    font-family: "Source Serif 4", NanumBarunGothic, serif;
}

.comments {
    font-family: "Source Serif 4", NanumBarunGothic, serif;
}

.comments code, .item-description code {
    background-color: var(--code-color);
    border-radius: 6px;
    padding: 0 0.125em;
    font-weight: 400;
    font-size: 0.94em;
}

.crate {
    color: var(--crate-color);
}

.module {
    color: var(--module-color);
}

.struct {
    color: var(--struct-color);
}

.trait {
    color: var(--trait-color);
}

.type {
    color: var(--type-color);
}

.global {
    color: var(--global-color);
}

.fn {
    color: var(--fn-color);
}

.primitive {
    color: var(--primitive-color);
}

.padded-methods {
    padding-left: 2em;
}

.padded-description {
    padding-left: 2em;
}

.sidebar {
    scrollbar-width: thin;
    background-color: var(--sidebar-color);
    overflow-y: scroll;
    overscroll-behavior: contain;
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 16px 15px 10px 24px;
}

.sidebar h1 {
    border-bottom: 0;
    margin: 0;
}

.sidebar h2 {
    border-bottom: 0;
    margin: 0;
    margin-top: 30px;
}

.sidebar h2#crate-name {
    border-bottom: 0;
    margin: 0;
    margin-top: 10px;
}

.sidebar h1 a, .sidebar h2 a {
    color: var(--main-color);
}

.sidebar h3 {
    border-bottom: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar li {
   line-height: 2em; 
}

.comment {
    color: var(--comment-color);
}

.where-clause {
    font-size: 0.875em;
    white-space: pre-wrap;
}

.deprecated {
    background-color: var(--deprecated-color);
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 3px;
    width: fit-content;
    font-family: "Source Serif 4", NanumBarunGothic, serif;
}

.emoji {
    text-shadow:  0 0 black,-1px 0 0 black,0 1px 0 black,0 -1px 0 black;
    margin-right: 0.3em;
}

.kw { 
    color: var(--kw-color);
}

.bool-var { 
    color: var(--bool-var-color);
}

.number { 
    color: var(--number-color);
}

.string { 
    color: var(--string-color);
}

.doccomment { 
    color: var(--doccomment-color);
}

.interpolation { 
    color: var(--interpolation-color);
}

#sidebar-toggle {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    background-color: var(--sidebar-color);
    height: var(--sidebar-toggle-height);
    position: sticky;
    top: 0;
    z-index: 10;
}

#sidebar-toggle button {
    background-color: var(--sidebar-color);
    border: none;
    width: 80px;
    height: 80px;
    padding: 1px 6px;
}

#sidebar-toggle-title {
    flex-grow: 1;
    text-align: center;
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
    overflow-x: hidden;
}

/* mobile */
@media (max-width: 1199px) {
  body {
    font-size: 2rem;
  }

  .sidebar {
    display: none;
    width: 100%;
  }

  :target {
    scroll-margin-top: var(--sidebar-toggle-height);
  }
}

/* desktop */
@media (min-width: 1200px) {
  body {
    font-size: 1rem;
  }

  .sidebar {
      font-size: 0.875em;
      width: 306px;
  }

  #sidebar-toggle {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
    #sidebar-toggle button::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" fill="none" stroke="black"> <path d="M3,5h16M3,11h16M3,17h16" stroke-width="2.75"/></svg>');
    }
}

@media (prefers-color-scheme: dark) {
    #sidebar-toggle button::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" fill="none" stroke="white"> <path d="M3,5h16M3,11h16M3,17h16" stroke-width="2.75"/></svg>');
    }
}