:root {
    color-scheme: light dark;

    --main-color: light-dark(black, #ddd);
    --main-background-color: light-dark(white, #353535);
    --code-color: light-dark(#f5f5f5, #2a2a2a);
    --link-color: light-dark(#3873ad, #fdbf35);
    --header-border-color: light-dark(#ddd, #d2d2d2);
    --crate-color: light-dark(var(--link-color), #d2991d);
    --module-color: var(--crate-color);
    --struct-color: light-dark(#ad378a, #2dbfb8);
    --trait-color: light-dark(#6e4fc9, #b78cf2);
    --type-color: var(--struct-color);
    --global-color: var(--crate-color);
    --fn-color: light-dark(#ad7c37, #2bab63);
    --primitive-color: var(--struct-color);
    --sidebar-color: light-dark(#f5f5f5, #505050);
    --comment-color: light-dark(#8e908c, #8d8d8b);
}

body {
    font-family: "Fira Sans", Arial, NanumBarunGothic, sans-serif;
    font-weight: 500;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--main-color);
    background-color: var(--main-background-color);
}

main {
    padding: 28px 15px 40px 45px;
    max-width: 960px;
    position: relative;
    flex-grow: 1;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

pre {
    padding: 14px;
    background-color: var(--code-color);
}

code {
    font-family: "Source Code Pro",monospace;
    text-wrap: auto;
    white-space: pre-wrap;
}

.code-header {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1, h2 {
    line-height: 1.25;
    padding-top: 3px;
    padding-bottom: 9px;
}

h1, h2, h3, h4 {
    margin: 25px 0 15px 0;
}

h2 {
    font-size: 1.375rem;
    border-bottom: 1px solid var(--header-border-color);
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.item-list {
    display: table;
}

.item-list>li {
    display: table-row;
    width: 100%;
    line-height: 2em;
}

.item-list>li>.item-name {
    width: 33%;
    display: table-cell;
    padding-right: 1.25rem;
}

.item-list>li>.item-description {
    display: table-cell;
    font-family: "Source Serif 4", NanumBarunGothic, serif;
}

.comments {
    font-family: "Source Serif 4", NanumBarunGothic, serif;
}

.comments code, .item-description code {
    background-color: var(--code-color);
    border-radius: 6px;
    padding: 0 0.125em;
    font-weight: 400;
    font-size: 0.94em;
}

.crate {
    color: var(--crate-color);
}

.module {
    color: var(--module-color);
}

.struct {
    color: var(--struct-color);
}

.trait {
    color: var(--trait-color);
}

.type {
    color: var(--type-color);
}

.global {
    color: var(--global-color);
}

.fn {
    color: var(--fn-color);
}

.primitive {
    color: var(--primitive-color);
}

.padded-methods {
    padding-left: 2em;
}

.padded-description {
    padding-left: 2em;
}

.sidebar {
    scrollbar-width: thin;
    background-color: var(--sidebar-color);
    font-size: 0.875rem;
    overflow-y: scroll;
    overscroll-behavior: contain;
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;
    width: 306px;
    padding: 16px 15px 10px 24px;
}

.sidebar h1 {
    border-bottom: 0;
    margin: 0;
}

.sidebar h2 {
    border-bottom: 0;
    margin: 0;
    margin-top: 30px;
}

.sidebar h2#crate-name {
    border-bottom: 0;
    margin: 0;
    margin-top: 10px;
}

.sidebar h1 a, .sidebar h2 a {
    color: var(--main-color);
}

.sidebar h3 {
    border-bottom: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar li {
   line-height: 2em; 
}

.comment {
    color: var(--comment-color);
}

.where-clause {
    font-size: 0.875rem;
    white-space: pre-wrap;
}