[package]
name = "noir_ssa_fuzzer"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[package.metadata]
cargo-fuzz = true

[lints]
workspace = true

[dependencies]
noirc_frontend.workspace = true
noirc_evaluator.workspace = true
noirc_driver.workspace = true
noirc_artifacts.workspace = true
noir_ssa_executor.workspace = true
acvm.workspace = true
thiserror.workspace = true
libfuzzer-sys = { workspace = true, features = ["arbitrary-derive"] }
serde.workspace = true
strum_macros = "0.24"
strum = "0.24"

[dev-dependencies]
rand.workspace = true

[features]
bn254 = ["noirc_frontend/bn254"]
bls12_381 = []
