[package]
name = "nargo"
version.workspace = true
authors.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
dirs.workspace = true

[dependencies]
dirs.workspace = true
url.workspace = true
iter-extended.workspace = true
noirc_driver.workspace = true
noirc_frontend.workspace = true
noirc_abi.workspace = true
fm.workspace = true
acvm.workspace = true
cfg-if.workspace = true

toml.workspace = true
serde_derive.workspace = true
serde = "1.0.123"
clap.workspace = true
termcolor.workspace = true
hex.workspace = true
tempdir.workspace = true

# Backends
aztec_backend = { optional = true, package = "barretenberg_static_lib", git = "https://github.com/noir-lang/aztec_backend", branch = "mv/logging" }
aztec_wasm_backend = { optional = true, package = "barretenberg_wasm", git = "https://github.com/noir-lang/aztec_backend", branch = "mv/logging" }
marlin_arkworks_backend = { optional = true, git = "https://github.com/noir-lang/marlin_arkworks_backend", rev = "601e24dcb5dcbe72e3de7a33879aaf84e171d541" }

[features]
default = ["plonk_bn254"]
# The plonk backend can only use bn254, so we do not specify the field
plonk_bn254 = ["aztec_backend"]
marlin = ["marlin_arkworks_backend/bls12_381"]
plonk_bn254_wasm = ["aztec_wasm_backend"]
