[package]
name = "nargo"
description = "Noir's package manager"
version.workspace = true
authors.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
dirs.workspace = true
rustc_version = "0.4.0"
build-data = "0.1.3"

[dependencies]
dirs.workspace = true
url.workspace = true
iter-extended.workspace = true
noirc_driver.workspace = true
noirc_frontend.workspace = true
noirc_abi.workspace = true
fm.workspace = true
acvm.workspace = true
cfg-if.workspace = true
toml.workspace = true
serde.workspace = true
thiserror.workspace = true
clap = { version = "4.1.4", features = ["derive"]}
const_format = "0.2.30"
hex = "0.4.2"
termcolor = "1.1.2"
tempdir = "0.3.7"

# Backends
aztec_backend = { optional = true, package = "barretenberg_static_lib", git = "https://github.com/noir-lang/aztec_backend", rev = "b6ef1f7aa6f4ae8535cc2817a0e90554ade1ac31" }
aztec_wasm_backend = { optional = true, package = "barretenberg_wasm", git = "https://github.com/noir-lang/aztec_backend", rev = "b6ef1f7aa6f4ae8535cc2817a0e90554ade1ac31" }
marlin_arkworks_backend = { optional = true, git = "https://github.com/noir-lang/marlin_arkworks_backend", rev = "144378edad821bfaa52bf2cacca8ecc87514a4fc" }
color-eyre = "0.6.2"

[features]
default = ["plonk_bn254"]
# The plonk backend can only use bn254, so we do not specify the field
plonk_bn254 = ["aztec_backend"]
marlin = ["marlin_arkworks_backend/bls12_381"]
plonk_bn254_wasm = ["aztec_wasm_backend"]
