[package]
name = "noirc_abi_wasm"
description = "An ABI encoder for the Noir language"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[lib]
crate-type = ["cdylib"]

[dependencies]
acvm = { workspace = true, features = ["bn254"] }
noirc_abi = { workspace = true, features = ["bn254"] }
iter-extended.workspace = true
wasm-bindgen.workspace = true
serde.workspace = true
js-sys.workspace = true
console_error_panic_hook.workspace = true
gloo-utils.workspace = true


# This is an unused dependency, we are adding it
# so that we can enable the js feature in getrandom.
getrandom = { workspace = true, features = ["wasm_js"] }
getrandom_v2 = { package = "getrandom", version = "^0.2.0", features = ["js"] }
getrandom_v4 = { package = "getrandom", version = "0.4.0-rc.0", features = ["wasm_js"] }

[build-dependencies]
build-data.workspace = true

[target.'cfg(all(any(target_arch = "wasm32", target_arch = "wasm64"), target_os = "unknown"))'.dev-dependencies]
wasm-bindgen-test.workspace = true
