[package]
name = "noirc_frontend"
version.workspace = true
authors.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
acvm = { git = "https://github.com/noir-lang/noir" }
noirc_abi.workspace = true
noirc_errors.workspace = true
fm.workspace = true
arena.workspace = true
iter-extended.workspace = true
chumsky.workspace = true
thiserror.workspace = true
pathdiff.workspace = true
smol_str.workspace = true
rustc-hash.workspace = true
