[package]
name = "noir_wasm"
version.workspace = true
authors.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[lib]
crate-type = ["cdylib"]

[dependencies]

acvm.workspace = true
noirc_driver.workspace = true
wasm-bindgen.workspace = true

console_error_panic_hook = "*"
getrandom = { version = "0.2.4", features = ["js"] }
gloo-utils = { version = "0.1", features = ["serde"] }
js-sys = "0.3.55"

[dev-dependencies]
wasm-bindgen-test.workspace = true
