[package]
name = "noirc_evaluator"
version = "0.1.0"
authors = ["Kevaundray Wedderburn <kevtheappdev@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
noirc_frontend = { path = "../noirc_frontend" }
noirc_errors = { path = "../noirc_errors" }
noirc_abi = { path = "../noirc_abi" }
acvm = { git = "https://github.com/noir-lang/acvm" }
arena = { path = "../arena" }
fm = { path = "../fm" }
iter-extended = { path = "../iter-extended" }
lazy_static = "1.4.0"
thiserror = "1.0.21"
num-bigint = "0.4"
num-traits = "0.2.8"
