name: Typescript

on: [push, pull_request]

# This will cancel previous runs when a branch or PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  eslint:
    name: Eslint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/setup
        with:
          working-directory: ./acvm-repo/acvm_js

      - name: Run eslint
        working-directory: ./acvm-repo/acvm_js
        run: yarn lint
