name: Benchmark
on: 
  pull_request:
  push:
    branches:
      - master

# This will cancel previous runs when a branch or PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  run-benchmark:
    name: Run benchmarks
    runs-on: ubuntu-22.04
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
          key: benchmarks

      - uses: boa-dev/criterion-compare-action@v3.2.4
        with:
          branchName: "master"
          package: "nargo_cli"
          benchName: "execution"
