name: deny

on:
  push:
    branches: [master]
    paths: [Cargo.lock]
  pull_request:
    branches: [master]
    paths: [Cargo.lock]
  merge_group:

env:
  RUSTFLAGS: -D warnings
  CARGO_TERM_COLOR: always

concurrency: deny-${{ github.head_ref || github.run_id }}

jobs:
  deny:
    name: deny
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v1
        with:
          command: check all