name: Clippy

on:
  pull_request:
  merge_group:
  push:
    branches:
      - master

# This will cancel previous runs when a branch or PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  clippy:
    name: cargo clippy
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable # We do not use MSRV so we can benefit from newer lints
          targets: ${{ matrix.target }}
          components: clippy, rustfmt

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          save-if: ${{ github.event_name != 'merge_group' }}

      - name: Run `cargo clippy`
        run: cargo clippy --workspace --locked --release

      - name: Run `cargo fmt`
        run: cargo fmt --all --check
