name: Generate stdlib docs

on:
  pull_request:
  merge_group:
  push:
    branches:
      - master

jobs:
  build-nargo:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    permissions:
      contents: read

    steps:
      - name: Checkout Noir repo
        uses: actions/checkout@v5

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@1.85.0

      - uses: Swatinem/rust-cache@v2
        with:
          key: x86_64-unknown-linux-gnu
          cache-on-failure: true
          save-if: ${{ github.event_name != 'merge_group' }}

      - name: Build Nargo
        run: cargo build --package nargo_cli --release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nargo
          path: ./target/release/nargo
          retention-days: 3

  nargo_doc:
    needs: [build-nargo]
    name: Nargo doc
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download nargo binary
        uses: ./.github/actions/download-nargo

      - name: nargo doc on stdlib
        working-directory: ./noir_stdlib
        run: |
          nargo doc
          rm -rf ./docs
          mv ./target/docs .
          if ! git diff --exit-code; then
            echo "nargo doc produced changes on noir_stdlib"
            exit 1
          fi
