name: Publish ACVM crates

on:
  workflow_dispatch:
    inputs:
      noir-ref:
        description: The acvm reference to checkout
        required: true

jobs:
  publish:
    name: Publish in order
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.noir-ref }}

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@1.74.1

      # These steps are in a specific order so crate dependencies are updated first
      - name: Publish acir_field
        run: |
          cargo publish --package acir_field
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.ACVM_CRATES_IO_TOKEN }}

      - name: Publish brillig
        run: |
          cargo publish --package brillig
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.ACVM_CRATES_IO_TOKEN }}

      - name: Publish acir
        run: |
          cargo publish --package acir
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.ACVM_CRATES_IO_TOKEN }}

      - name: Publish acvm_blackbox_solver
        run: |
          cargo publish --package acvm_blackbox_solver
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.ACVM_CRATES_IO_TOKEN }}

      - name: Publish bn254_blackbox_solver
        run: |
          cargo publish --package bn254_blackbox_solver
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.ACVM_CRATES_IO_TOKEN }}

      - name: Publish brillig_vm
        run: |
          cargo publish --package brillig_vm
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.ACVM_CRATES_IO_TOKEN }}

      - name: Publish acvm
        run: |
          cargo publish --package acvm
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.ACVM_CRATES_IO_TOKEN }}

      # Raise an issue if any package failed to publish
      - name: Alert on failed publish
        uses: JasonEtco/create-an-issue@v2
        if: ${{ failure() }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CRATE_VERSION: ${{ inputs.noir-ref }}
          WORKFLOW_NAME: ${{ github.workflow }}
          WORKFLOW_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        with:
          update_existing: true
          filename: .github/ACVM_PUBLISH_FAILED.md