name: Publish Docs

on:
  workflow_dispatch:
    inputs:
      tag:
        description: The tag to build Docs for
        required: false

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    if: ${{ inputs.tag != '' }}
    permissions:
      pull-requests: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        run: yarn
    
      - name: Cut a new version
        working-directory: ./docs
        run: yarn docusaurus docs:version ${{ inputs.tag }}

      - name: Build docs
        run: yarn workspace docs build
    
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.1
        with:
          publish-dir: './docs/build'
          production-branch: master
          production-deploy: false # TODO change to true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-github-deployment: false
          deploy-message: "Deploy from GitHub Actions for tag ${{ inputs.tag }}"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
