# Useful if the spot runners are in a bad state
name: Start/Stop Personal Spot
on:
  workflow_dispatch:
    inputs:
      username:
        description: 'Username (optional)'
        required: false
      action:
        description: "Defaults to 'start', can be 'stop', 'restart'"
        required: false
        default: 'start'
jobs:
  start-build:
    uses: ./.github/workflows/setup-runner.yml
    with:
      username: ${{ inputs.username || github.actor }}
      runner_type: builder-x86
      runner_action: ${{ inputs.action }}
    secrets: inherit