name: Test

on:
  pull_request:
  merge_group:

# This will cancel previous runs when a branch or PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu
            runner: ubuntu-latest
            target: x86_64-linux

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-22.11
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v12
        with:
          name: barretenberg

      - name: Restore nix store cache
        uses: actions/cache/restore@v3
        id: cache
        with:
          path: /tmp/nix-cache
          key: ${{ runner.os }}-flake-${{ hashFiles('*.lock') }}

      # Based on https://github.com/marigold-dev/deku/blob/b5016f0cf4bf6ac48db9111b70dd7fb49b969dfd/.github/workflows/build.yml#L26
      - name: Copy cache into nix store
        if: steps.cache.outputs.cache-hit == 'true'
        # We don't check the signature because we're the one that created the cache
        run: |
          for narinfo in /tmp/nix-cache/*.narinfo; do
            path=$(head -n 1 "$narinfo" | awk '{print $2}')
            nix copy --no-check-sigs --from "file:///tmp/nix-cache" "$path"
          done

      - name: Run `nix flake check`
        run: |
          nix flake check -L

      - name: Export cache from nix store
        if: steps.nix-store-cache.outputs.cache-hit != 'true'
        run: |
          nix copy --to "file:///tmp/nix-cache?compression=zstd&parallel-compression=true" .#native-cargo-artifacts

      - uses: actions/cache/save@v3
        # Write a cache entry even if the tests fail but don't create any for the merge queue.
        if: ${{ always() && steps.cache.outputs.cache-hit != 'true' && github.event_name != 'merge_group' }}
        with:
          path: /tmp/nix-cache
          key: ${{ steps.cache.outputs.cache-primary-key }}
