name: Wasm

on:
  pull_request:
  merge_group:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-nargo:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu]

    steps:
      - name: Checkout Noir repo
        uses: actions/checkout@v4

      - name: Setup Nix
        uses: ./.github/actions/nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          nix-cache-name: barretenberg
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build Nargo
        run: |
          nix build -L .

      - name: Dereference symlink
        run: echo "UPLOAD_PATH=$(readlink -f ./result/bin/nargo)" >> $GITHUB_ENV

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: nargo
          path: ${{ env.UPLOAD_PATH }}
          retention-days: 3

  build-wasm:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Nix
        uses: ./.github/actions/nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          nix-cache-name: barretenberg
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build wasm package
        run: |
          nix build -L .#noir_wasm

      - name: Dereference symlink
        run: echo "UPLOAD_PATH=$(readlink -f ./result/noir_wasm)" >> $GITHUB_ENV

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: noir_wasm
          path: ${{ env.UPLOAD_PATH }}
          retention-days: 3

  test:
    needs: [build-wasm, build-nargo]
    name: Test noir_wasm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout noir-lang/noir
        uses: actions/checkout@v4

      - name: Download wasm package artifact
        uses: actions/download-artifact@v3
        with:
          name: noir_wasm
          path: ./compiler/wasm/downloaded

      - name: Download nargo binary
        uses: actions/download-artifact@v3
        with:
          name: nargo
          path: ./nargo

      - name: Set nargo on PATH
        run: |
          chmod +x ./nargo/nargo
          echo "./nargo" >> $GITHUB_PATH
          export PATH="$PATH:./nargo"
          nargo -V

      - name: Compile fixtures with Nargo CLI
        working-directory: ./compiler/wasm/fixtures
        run: |
          for dir in $(ls -d */); do
            pushd $dir/noir-script
            nargo compile
            popd
          done

      - name: Install Yarn dependencies
        uses: ./.github/actions/setup

      - name: Install Playwright
        uses: ./.github/actions/install-playwright

      - name: Install dependencies
        run: |
          cp -r ./compiler/wasm/downloaded/nodejs ./compiler/wasm
          cp -r ./compiler/wasm/downloaded/web ./compiler/wasm
          yarn workspace @noir-lang/source-resolver build

      - name: Run node tests
        run: yarn workspace @noir-lang/noir_wasm test:node

      - name: Run browser tests
        run: yarn workspace @noir-lang/noir_wasm test:browser
